body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

h1 {
    color: blue;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
}

ul {
    list-style: none;
}
