*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

header{
padding:60px;
text-align:center;
background:linear-gradient(135deg,#2563eb,#7c3aed);
}

header h1{
font-size:50px;
}

header p{
font-size:20px;
margin-top:10px;
}

nav{
display:flex;
justify-content:center;
background:#111827;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
margin:0 20px;
font-weight:bold;
}

nav a:hover{
color:#38bdf8;
}

section{
padding:50px;
max-width:1000px;
margin:auto;
}

h2{
margin-bottom:20px;
color:#38bdf8;
}

.card{
display:inline-block;
background:#1e293b;
padding:15px 25px;
margin:10px;
border-radius:10px;
transition:.3s;
}

.card:hover{
background:#2563eb;
transform:scale(1.05);
}

.project{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:#111827;
margin-top:40px;
}
